{% load static %}
<!DOCTYPE html>
<html>
<head runat="server">
<title>{{title}}</title>

<meta name="title" content="Real Star Ice-cream, The King Of Taste,Real Star (owned by Sharma Food Products)" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Real Star Ice-cream, The King Of Taste,Real Star (owned by Sharma Food Products) was the first organization to bring up the idea of in house production of ice cream in Yamuna Nagar District of Haryana in 2007. Since Inception, our constant emphasis on quality consciousness and innovating with new flavors has delighted the taste buds of many customers. Our presence in Haryana, Punjab, Uttarakhand, Himachal Pradesh has been adding wholesome goodness to the lives of thousands since decade" />

<meta name="keywords" content="Real Star Ice-cream, The King Of Taste, Best Ice Cream, Ice cream Manufactures, Ice cream Manufactures in Yamuna Nagar,Best Ice Cream in Yamuna Nagar, Ice Cream Shop, Vanilla Ice cream,Strawberry Ice cream, Butter Scotch Ice cream, Chocolate Ice cream, Choco Bar, Pista Candy, Pista flavour, Party Packs, Family Pack, Cone, Candy, Cup, Premium" />

<meta name="google-site-verification" content="24yPx4Uo6ita1M6AqGw_84E3f6XUh3l7T6kxXk2nv9o" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/Real-StarCircleTrans.png' %}" />
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}"/>
<!--===============================================================================================-->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
<!-- //custom css theme files -->
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}"/>
<link rel="stylesheet" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}"/>


  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133783709-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133783709-1');
</script>

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/CustomMain.css' %}"/>
<!--===============================================================================================-->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>   
<script src="{% static 'src/skdslider.min.js' %}"></script>
<link href="{% static 'src/skdslider.css' %}" rel="stylesheet">
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#demo1').skdslider({
          slideSelector: '.slide',
          delay:5000,
          animationSpeed:2000,
          showNextPrev:true,
          showPlayButton:true,
          autoSlide:true,
          animationType:'fading'
        });

        
    });
</script>
<style type="text/css">
  body { margin:0; padding:0;}
  .demo-code{ background-color:#ffffff; border:1px solid #333333; display:block; padding:10px;}
  .option-table td{ border-bottom:1px solid #eeeeee;}
</style>

</head>
<body>
   <div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" style="right:0px; bottom:0px; ">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
       <a class="a2a_button_whatsapp"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
    

<script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						<i class="fa fa-map-marker"></i>&nbsp;
                        205, Gali No. 4, Azad Nagar, Yamuna Nagar
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<i class="fa fa-mobile"></i>&nbsp;
                            +91-94660-19331
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<i class="fa fa-whatsapp"></i>&nbsp;
                            +91-78760-50007 
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<i class="fa fa-envelope"></i>&nbsp;
                            realstaricecream@yahoo.com
						</a>

						
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="/" class="logo">
						<img src="{% static 'images/logo.png' %}" alt="realstar">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li id="page1" runat="server" class="">
								<a href="/">Home</a>
								
							</li>

							{% comment %} <%--<li>
								<a href="product.html">Shop</a>
							</li>--%> {% endcomment %}

							<li id="page2" runat="server">
								<a href="/products/">Products</a>
							</li>

							<li id="page3" runat="server">
								<a href="/franchisee/">Franchisee</a>
							</li>

							<li id="page4" runat="server">
								<a href="/about/">About</a>
							</li>

							<li id="page5" runat="server">
								<a href="/contact/">Contact</a>
							</li>
						</ul>
					</div>	

					
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img src="{% static 'images/logo.png" alt="realstar ice cream' %}"/></a>
			</div>

			
			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
						<div class="left-top-bar">
						<i class="fa fa-map-marker"></i>&nbsp;
                        205, Gali No. 4, Azad Nagar, Yamuna Nagar
					</div>
				</li>

				<li>
					

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<i class="fa fa-mobile"></i>&nbsp;
                            +91-94660-19331
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<i class="fa fa-whatsapp"></i>&nbsp;
                            +91-89307-77776
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<i class="fa fa-envelope"></i>&nbsp;
                            realstaricecream@yahoo.com
						</a>

						
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li id="page11" runat="server">
					<a href="/">Home</a>
					
					
				</li>

				{% comment %} <%--<li>
					<a href="product.html">Shop</a>
				</li>--%> {% endcomment %}

				<li id="page22" runat="server">
					<a href="/products/">Products</a>
				</li>

				<li id="page33" runat="server">
					<a href="/franchisee">Franchisee</a>
				</li>

				<li id="page44" runat="server">
					<a href="/about">About</a>
				</li>

				<li id="page55" runat="server">
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</header>

    {% block myContent %}
    {% endblock  %}
        
    <!-- Footer -->
       
	<footer class="bg3 p-t-75 p-b-32">
		        <div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>
                    
                        <ul>
							{% for c in cate %}
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    {{c.categoryName}}
                                </a>
                            </li>
							{% endfor %}
                        </ul>
                       
				</div>

				<div class="col-sm-6 col-xs-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Quick Links
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
								Products
							</a>
						</li>

						<li class="p-b-10">
							<a href="/franchisee" class="stext-107 cl7 hov-cl1 trans-04">
								Franchisee 
							</a>
						</li>

						<li class="p-b-10">
							<a href="/about" class="stext-107 cl7 hov-cl1 trans-04">
								About Us
							</a>
						</li>

						<li class="p-b-10">
							<a href="/contact" class="stext-107 cl7 hov-cl1 trans-04">
								Contact Us
							</a>
						</li>
                        <li class="p-b-10">
							<a href="/privacy-policy" class="stext-107 cl7 hov-cl1 trans-04">
								Privacy Policy
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-xs-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						205, Gali No. 4, Azad Nagar, Yamuna Nagar - 135001
					</p>

					<div class="p-t-27">
						<a target="_blank" href="https://www.facebook.com/realstaricecream/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a target="_blank" href="https://www.instagram.com/realstaricecream/?utm_source=ig_profile_share&igshid=x6bji3x5n57g" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						{% comment %} <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a> {% endcomment %}
					</div>
				</div>
                <div class="col-sm-6 col-xs-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
						FOLLOW US
					</h4>
                    <div class="fb-page" data-href="https://www.facebook.com/Real-Star-Ice-cream-1690764777647747/" data-tabs="timeline" data-height="200px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Real-Star-Ice-cream-1690764777647747/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Real-Star-Ice-cream-1690764777647747/">Real Star Ice-cream</a></blockquote></div>
                    </div>

				{% comment %} <%--<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>--%> {% endcomment %}
			</div>

			{% comment %} <%--<div class="p-t-40">
				
				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://manisofat.blogspot.com" target="_blank">Mani Sofat</a> &amp; distributed by <a href="#" target="_blank">IncreibleLive</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>--%> {% endcomment %}
		</div>
       
	</footer>
         <div class="container-fluid" style="background-color: #1d1c1c;">
             <div class="p-t-40">
				
				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://manisofat.blogspot.com" target="_blank">IncreíbleLive</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
                 <br />
                 
			</div>
         </div>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

   <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=404192523267284&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--===============================================================================================-->	
{% comment %} <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script> {% endcomment %}
{% comment %} <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script> {% endcomment %}
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	{% comment %} <script src="../static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>  {% endcomment %}
<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<noscript>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</noscript>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
    {% comment %} <script src="../static/js/bootstrap.js"></script> {% endcomment %}
	 <script src="{% static 'js/jquery.fatNav.js' %}"></script>
    <script>
		(function() {
			
			$.fatNav();
			
		}());
		</script> 

{% comment %} <script>
	$(document).ready(function(){
  $(".owl-carousel").owlCarousel();
		
});
	</script>
	<script>
	var owl = $('.owl-carousel');
owl.owlCarousel({
    items:4,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:1000,
    autoplayHoverPause:true
});
$('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[1000])
})
$('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
})
	</script> {% endcomment %}

</body>
</html>
