{% extends "base.html" %}

{% block myContent %}
<!-- Title page -->
<section class="bg-img1 my txt-center p-lr-15 p-tb-92" style="background-image: url('../static/images/shakehand.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Apply For Franchisee
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Real Star Franchisee
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Real Star offers lucrative business opportunities for interested entrepreneurs by offering franchisees for ice cream parlours across India. The business model is based on the principle of maximizing profits for the franchisee and providing comprehensive support in terms of Operations, Marketing, Training, Business Development & Inventory Control. Real Star Ice-Cream is also geared up for the emerging concepts in retailing through customized ice cream kiosks for specific and island positions.

Enterprising people who can own responsibility and ensure commitment towards the brand 'Real Star' are welcome.
                    </p>

                    <h3 class="mtext-111 cl2 p-b-16">
                        Eligibility Criteria
                    </h3>
                    <div class="stext-113 cl6 p-b-26">
                        <p><span class="fa fa-hand-o-right"></span> should be an enterprising and dynamic person with acute understanding of consumer behaviour.</p>
                        <p><span class="fa fa-hand-o-right"></span> You should be financially sound and willing to give quality time to the franchisee.</p>
                        <p><span class="fa fa-hand-o-right"></span> Food industry background will have an added advantage.</p>
                        <p><span class="fa fa-hand-o-right"></span> People with available real estate at prime locations will get preference.</p>
                        <p><span class="fa fa-hand-o-right"></span> For more details: do <a class="cl1" href="Contact.aspx">Contact Us</a></p>
                    </div>

                    
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="../static/images/trolly.jpg" alt="realstar ice cream"/>
                    </div>
                </div>
            </div>

            <div class="order-md-2 col-md-12 col-lg-12 p-b-30">
                <div class="p-t-7 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Social
                    </h3>

                    <div class="stext-113 cl6 p-b-26">
                       <a target="_blank" href="https://www.facebook.com/realstaricecream/"><span class="fa fa-facebook-square"></span> </a>
                        <a target="_blank" href="https://www.instagram.com/realstaricecream/?utm_source=ig_profile_share&igshid=x6bji3x5n57g"><span class="fa fa-instagram"></span></a>
                        {% comment %} <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-youtube"></span></a>
                        <a href="#"><span class="fa fa-pinterest-p"></span></a> {% endcomment %}
                    </div>

                </div>
            </div>
        </div>
        
        </div>
    
</section>	
{% endblock  %}